h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

:root {
    --light-color: #F5F5F7;
    --dark-color: #221F20;
    --container-padding-inline: 13%;
    --footer-padding-inline: 10%;

    @media screen and (max-width: 768px) {
        --container-padding-inline: 6%;
        --footer-padding-inline: 6%;
    }

    @media screen and (max-width: 576px) {
        --container-padding-inline: 15px;
        --footer-padding-inline: 15px;
    }
}

html {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

.container {
    padding: 0 var(--container-padding-inline);
}

.works,
.inspiration,
.customers {
    padding-top: 80px;
    background-color: var(--light-color);

    &::selection {
        background-color: rgba(13.3, 12.2, 12.5, 0.8);
        color: var(--light-color);
    }

    @media screen and (max-width: 768px) {
        padding-top: 50px;
    }
}

.title {
    display: grid;
    justify-content: center;
    font-weight: 400;
    font-size: 40px;
    color: var(--dark-color);
    line-height: normal;


    &::after {
        content: "";
        display: block;
        background-color: #000;
        width: 75px;
        height: 2px;
        justify-self: end;
        margin-top: 1px;
    }

    @media screen and (max-width: 768px) {
        font-size: 36px;
    }

    @media screen and (max-width: 576px) {
        font-size: 24px;
    }
}

.promo {
    position: relative;
    min-height: 100vh;
    background: url('../img/main_bg.jpg') center center/ cover no-repeat;
    padding-top: 75px;

    &::selection {
        background-color: rgba(245, 245, 247, 0.8);
        color: var(--dark-color);
    }

    @media screen and (max-width: 768px) {
        & {
            background-image: url('../img/tablet_bg.jpg');
        }
    }

    @media screen and (max-width: 576px) {
        min-height: 500px;
        padding-top: 50px;
        background-position-x: 100%;
    }
}


.promo__title {
    font-weight: 400;
    font-size: 60px;
    text-transform: uppercase;
    color: red;
    line-height: normal;

    @media screen and (max-width: 768px) {
        font-size: 48px;
    }

    @media screen and (max-width: 576px) {
        font-size: 26px;
    }

}

.promo__subtitle {
    margin-top: 124px;
    font-weight: 100;
    font-size: 32px;
    color: var(--light-color);
    line-height: normal;

    @media screen and (max-width: 768px) {
        margin-top: 80px;
    }

    @media screen and (max-width: 576px) {
        margin-top: 30px;
        font-size: 16px;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
    padding: 3px 10px;
    width: 160px;
    min-height: 38px;
    border: 1px solid var(--light-color);
    background: rgba(217, 217, 217, 0);
    font-weight: 100;
    font-size: 16px;
    color: var(--light-color);
    line-height: normal;
    cursor: pointer;
    transition: all 0.3s ease-out;

    @media screen and (max-width: 576px) {
        width: 120px;
        min-height: 30px;
        font-size: 14px;
    }
}

.btn:hover {
    box-shadow: 5px 5px 10px 0 rgba(255, 255, 255, 0.62);
    font-weight: 500;
}

.promo__address {
    position: relative;
    margin-top: 100px;
    font-weight: 100;
    font-size: 16px;
    color: var(--light-color);
    line-height: normal;

    address {
        font-style: normal;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: -45px;
        top: -17px;
        width: 40px;
        height: 49px;
        background: url('../icons/arrow.svg') center center / cover no-repeat;
    }

    @media screen and (max-width: 768px) {
        & {
            margin-top: 80px;
        }

        &::before {
            left: -30px;
            top: -6px;
            width: 30px;
            height: 37px;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            margin-top: 233px;
        }

        &::before {
            display: none;
        }
    }
}


.keywords {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 0 360px;
    width: 100%;
    height: 20px;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.04) 0%,
            rgba(255, 255, 255, 0.12) 50%,
            rgba(255, 255, 255, 0.2) 100%);

    li {
        list-style-type: none;
        font-weight: 100;
        font-size: 10px;
        color: var(--light-color);
        line-height: normal;
    }

    @media screen and (max-width: 1440px) {
        & {
            padding: 0 20px;
        }
    }

    @media screen and (max-width: 768px) {

        & li:nth-last-child(-n+6) {
            display: none;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            margin-top: 10px;
        }

        & li:nth-last-child(-n+11) {
            display: none;
        }
    }
}

.about {
    padding-top: 80px;
    background-color: var(--light-color);

    &::selection {
        background-color: rgba(13.3, 12.2, 12.5, 0.8);
        color: var(--light-color);
    }

    @media screen and (max-width: 576px) {
        padding-top: 50px;
    }
}


.about__title {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    color: var(--dark-color);
    line-height: normal;
}

.about__text {
    margin-top: 20px;
    font-weight: 400;
    font-size: 40px;
    color: var(--dark-color);
    line-height: normal;
    width: 1050px;

    span {
        color: #a5a5a5;
    }

    @media screen and (max-width: 1440px) {
        & {
            width: 100%;
        }
    }

    @media screen and (max-width: 1024px) {
        & {
            font-size: 24px;
        }
    }

    @media screen and (max-width: 576px) {
        font-size: 16px;
    }
}

.services {
    margin-top: 80px;
    display: flex;
    gap: 30px;
    /* align-items: end; */

    @media screen and (max-width: 1024px) {
        margin-top: 44px;
        flex-direction: column;
        gap: 40px;
    }

    @media screen and (max-width: 576px) {
        margin-top: 20px;
        gap: 20px;
    }
}

.services__items {
    width: 50%;

    ul {
        margin-top: 20px;
        padding: 0;
    }

    li {
        position: relative;
        list-style-type: none;
        font-weight: 400;
        font-size: 16px;
        color: var(--dark-color);
        line-height: normal;
        margin-top: 10px;

        &:first-child::before {
            content: "";
            display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            background: url('../icons/camera.svg') center center / cover no-repeat;
            left: -30px;
            top: 2px;
        }

        &:nth-child(3)::before {
            content: "";
            display: block;
            position: absolute;
            width: 15px;
            height: 15px;
            background: url('../icons/edit.svg') center center / cover no-repeat;
            left: -30px;
            top: 2px;
        }
    }

    @media screen and (max-width: 1024px) {
        & {
            width: 100%;
        }

        & ul {
            margin-top: 16px;
        }

        & li:first-child::before,
        li:nth-child(3)::before {
            left: -25px;
        }

    }

    @media screen and (max-width: 576px) {
        & ul {
            margin-top: 20px;
        }

        & li {
            font-size: 14px;
            margin-top: 5px;
        }

        & li:first-child::before,
        li:nth-child(3)::before {
            display: none;
        }
    }
}

.services__items-subtitle {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    color: var(--dark-color);
    line-height: normal;

    @media screen and (max-width: 576px) {
        font-size: 12px;
    }
}

.services__text {
    width: 50%;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.4px;
    color: var(--dark-color);
    line-height: normal;

    @media screen and (max-width: 1024px) {
        & {
            width: 100%;
        }
    }

    @media screen and (max-width: 576px) {
        font-size: 12px;
        letter-spacing: 0.24px;
    }
}



.works__grid {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 1.5fr;
    column-gap: 30px;
    row-gap: 50px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    }

    @media screen and (max-width: 768px) {
        column-gap: 20px;
        row-gap: 30px;
        margin-top: 40px;
    }

    @media screen and (max-width: 576px) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr) 1.5fr;
        column-gap: 0;
    }
}

.inspiration__grid {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    grid-auto-rows: 1fr;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);
    }

    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        column-gap: 20px;
    }

    @media screen and(max-width: 768px) {
        margin-top: 40px;
    }

    @media screen and (max-width: 576px) {
        margin-left: 9px;
        margin-right: 9px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr) 0.5fr;
        column-gap: 0px;
        row-gap: 20px;
    }

}

#fourth {
    grid-column: 4;
    grid-row: 1 / 3;

    @media screen and (max-width: 1200px) {
        grid-column: 2;
        grid-row: 2/4;
    }

    @media screen and (max-width: 576px) {
        grid-column: 1;
        grid-row: 4/6;
    }

}

#sixth {
    grid-column: 2 / 4;

    @media screen and (max-width: 1200px) {
        grid-column: 1/3;
    }

    @media screen and (max-width: 576px) {
        grid-column: 1;
    }
}

.customers {
    padding-bottom: 100px;

    @media screen and (max-width: 768px) {
        padding-bottom: 50px;
    }
}

.customers__flex {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    img {
        width: calc((100% - 90px)/4);
        object-fit: cover;
        box-shadow: 7px 7px 12px 0 rgba(0, 0, 0, 0.25);
    }

    @media screen and (max-width: 768px) {
        & {
            margin-top: 40px;
            gap: 20px;
        }

        & img {
            width: calc((100% - 60px)/4);
        }
    }

    @media screen and (max-width: 576px) {
        & {
            margin-top: 30px;
            column-gap: 36px;
            justify-content: space-between;
        }

        & img {
            width: calc((100% - 36px)/2);
        }
    }

}


.footer {
    background-color: #000;
    padding: 84px var(--footer-padding-inline);

    &::selection {
        background-color: rgba(245, 245, 247, 0.8);
        color: var(--dark-color);
    }

    @media screen and (max-width: 1024px) {
        padding-top: 30px;
        padding-bottom: 40px;
    }
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .footer__social_networks {
        padding-left: 0;
        list-style: none;
        display: flex;
        gap: 30px;
        flex-wrap: wrap;

        li {
            width: 32px;
            height: 32px;
            border: 1px solid var(--light-color);
            background: rgba(217, 217, 217, 0);
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: var(--light-color);
            text-decoration: none;
        }
    }

    address {
        font-weight: 400;
        font-size: 20px;
        color: var(--light-color);
        line-height: normal;
        font-style: normal;
        text-align: center;
    }

    .footer__tel {
        font-weight: 400;
        font-size: 20px;
        color: var(--light-color);
        line-height: normal;
        text-decoration: none;
    }

    @media screen and (max-width: 1024px) {
        & {
            flex-direction: column;
            gap: 30px;
            align-items: flex-start;
        }

        & .footer__social_networks {
            gap: 27px;
        }

        & address,
        .footer__tel {
            font-size: 16px;
        }
    }

    @media screen and (max-width: 576px) {
        & {
            align-items: center;
        }

        & address {
            order: 1;
        }
    }
}